<div>
    <div class="center" *ngIf="needsUrl || editSelected">
        <form class="url-form" [formGroup]="gofundmeForm" (ngSubmit)="urlSubmit()">
            <div for="url-field">
                <input class="url-field" id="form-field" type="text" formControlName="url" placeholder="GoFundMe URL" />
            </div>
            <button type="submit" class="primary-button">
                GoFundMe
            </button>
        </form>
    </div>
    <div class="gofundme-error" *ngIf="requestError">
        Error in getting data
    </div>
    <div class="center" *ngIf="!needsUrl">
        <div class="gofundme-url-data">
            {{ gofundmeForm.value.url }}
        </div>
        <button class="primary-button" type="button" (click)="changeGoFundMeUrl()">
            Edit URL
        </button>
        
        <form class="gofundme-form" [formGroup]="gofundmeForm" (ngSubmit)="goFundMeSubmit()">
            <div for="title-field">
                <input class="title-field" id="form-field" type="text" formControlName="title" placeholder="Title" />
            </div>
            <div for="gofundme-description">
                <textarea class="description-field" id="form-field" type="text" formControlName="description">
                    Description
                </textarea>
            </div>
            <button type="submit" class="primary-button">
                Data is Correct
            </button>
        </form>

    </div>
</div>
<!-- <p>Hello</p> -->