<div class="center">
    <form class="main-form" [formGroup]="mainForm" (ngSubmit)="onSubmit()">
        <div for="username-field">
            {{ user.id }}
        </div>
        <div for="firstname-field">
            {{ user.firstname }}
        </div>
        <div for="lastname-field">
            {{ user.lastname }}
        </div>
        <button class="primary-button" type="button" *ngIf="gofundme === null" (click)="addGoFundMe()">
            Add a GoFundMe
        </button>
        <div class="data" *ngIf="gofundme !== null">
            <div class="gofundme-url">
                {{ gofundme.url }}
            </div>
            <div class="gofundme-title">
                {{ gofundme.title }}
            </div>
            <div class="gofundme-description">
                {{ gofundme.description }}
            </div>
            <button class="primary-button" type="button" (click)="addGoFundMe()">
                Edit GoFundMe
            </button>
        </div>
        <button type="submit" class="secondary-button">
            Submit
        </button>
        <div class="delivery-div">
            <div class="service-card" *ngFor="let service of services">
                <div class="service-selected">
                    <img class="service-image" src="{{ service.image }}" />
                    <div class="service-name">
                        {{ service.name }}
                    </div>
                    <div class="service-url">
                        {{ service.url }}
                    </div>
                </div>
            </div>
            <button class="alternative-button" (click)="goToDelivery()">
                Add Delivery Services
            </button>
        </div>
    </form>
</div>

