<div class="main-profile">
    <div class="profile">
        <div class="profile-image">
            <img class="profile-image-pic" src="assets/images/default-profile-icon-16.jpg" />
        </div>
        <div class="profile-data">
            <div class="username-field">
                {{ '@' + user.id }}
            </div>
            <div class="firstname-field">
                {{ user.firstname + user.lastname }}
            </div>
        </div>
    </div>
    <div class="adding">
        <div class="go-fund-me">
            <div class="data" *ngIf="gofundme !== null">
                <h2>GoFundMe Description</h2>
                <div class="gofundme-url">
                    {{ gofundme.url }}
                </div>
                <div class="gofundme-title">
                    <h4>{{ gofundme.title }}</h4>
                </div>
                <div class="gofundme-description">
                    {{ gofundme.description }}
                </div>
                <button class="primary-button" type="button" (click)="addGoFundMe()">
                    Edit GoFundMe
                </button>
            </div>
            <button class="primary-button" type="button" *ngIf="gofundme === null" (click)="addGoFundMe()">
                Add a GoFundMe
            </button>
        </div>
        <div class="delivery-div">
            <div class="service-card-div">
                <div class="service-card" *ngFor="let service of services">
                    <button class="service-selected">
                        <img class="service-image" src="{{ service.image }}" />
                        <div class="service-name">
                            {{ service.name }}
                        </div>
                        <div class="service-url">
                            {{ service.url }}
                        </div>
                    </button>
                </div>
            </div>
            <button class="alternative-button" (click)="goToDelivery()">
                Add Delivery Services
            </button>
            <button type="submit" class="secondary-button" (click)="onSubmit()">
                Submit
            </button>
        </div>
    </div>
</div>

