<div class="login-div">
    <div class="login-tab">
        <button class="btn btn-danger auth-buttons btn-lg" (click)="loginOption('signup')">
            SignUp
        </button>
        <button class="btn btn-warning auth-buttons btn-lg" (click)="loginOption('signin')">
            SignIn
        </button>
    </div>
    <div class="signup-container-div" *ngIf="signup">
        <app-signup></app-signup>
    </div>
    <div class="signin-container-div" *ngIf="!signup">
        <app-signin></app-signin>
    </div>
</div>